.content{
    width: 100%;
    margin-left: 20px;
    margin-right: 20px;
}
.sidebar{
    background: #000;
    color: #fff;
    height: 100vh;
    transition: all 0.5s;
}
.top_section{
    display: flex;
    align-items:center;
    padding:20px 15px;
}
.dash-logo{
    font-size: 30px;
}
.bars{
    display: flex;
    font-size: 25px;
    margin-left: 50px;
}
.links{
    display: flex;
    color: #fff;
    padding: 10px 15px;
    gap: 15px;
    transition: all 0.5s;
    text-decoration: none;
}
.links:hover{
    background:lightskyblue;
    color: #000;
    transition: all 0.5s;
}
/* .active{
    background: lightskyblue;
    color: #000;
} */
.icon, .link_text{
    font-size: 20px;
}
.toggle{
    cursor: pointer;
}
